<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/fontawesome.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85174756-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-85174756-2');
	</script>

</head>
<body>
	<div class="header">
		<a href="/"><img src="https://s.gravatar.com/avatar/c68a12b7e23d61ca83670602b0f96349?s=1200" alt="Profile Picture" class="img-responsive center-block img-circle profile-avtar-center" /></a>
		<h2 class="text-center avtar-name">Sarvesh Athawale</h2>
		<p class="text-center avtar-bio">Keep on going never give up. In <span style="color: red">&#10084;</span> with Kotlin.</p>
		<div class="center-block">
	  		<ul class="list-inline mx-auto justify-content-center">
			    <li class="list-inline-item menu-item active-item">Blogs</li>
			    <a href="https://github.com/Sathawale27" target="_blank"><li class="list-inline-item menu-item">GitHub</li></a>
			    <a href="https://stackoverflow.com/users/6875271/sarvesh-athawale" target="_blank"><li class="list-inline-item menu-item">Stack Overflow</li></a>
			    <a href="https://twitter.com/sathawale27" target="_blank"><li class="list-inline-item menu-item">Twitter</li></a>
			    <a href="https://www.instagram.com/sarvesh0702/" target="_blank"><li class="list-inline-item menu-item">Instagram</li></a>
			    <a href="https://about.me/sarveshathawale" target="_blank"><li class="list-inline-item menu-item">About</li></a>
	  		</ul>
		</div>
	</div>
	{{ content }}
<div>
	<p class="text-center copyright">&copy; 2019 Sarvesh Athawale</p>
</div>
</body>
</html>	